---
import type { GetStaticPaths } from "astro";
export const prerender = true;

export const getStaticPaths = (() => {
	return [
		{
			params: {
				slug: "world",
			},
		},
	];
}) satisfies GetStaticPaths;
---

<p>Hello World</p>
