---
import MainLayout from "../layouts/main-layout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
	const blogs = await getCollection("drafts", (entry) =>
		import.meta.env.PROD ? entry.data.published : true
	);
	return blogs.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

const { entry } = Astro.props;

const { Content } = await entry.render();
---

<MainLayout title={`${entry?.data.title} | Drafts`}>
	<div class="container mx-auto px-4 md:px-0 py-12">
		<h1
			class="text-4xl lg:text-5xl text-center font-heading font-bold text-balance"
		>
			{entry?.data.title}
		</h1>
		<p class="text-center dark:text-neutral-300 text-neutral-600 mb-16 mt-4">
			{
				new Date(entry?.data.publishedAt ?? "").toLocaleDateString("en-GB", {
					month: "long",
					year: "numeric",
				})
			}
		</p>
		<article
			class="prose mx-auto prose-neutral dark:prose-invert lg:prose-lg prose-img:mb-2 prose-img:mt-4 prose-img:rounded-lg prose-h1:text-4xl prose-h2:text-3xl prose-h2:mb-6 prose-h3:text-2xl prose-a:text-orange-500 prose-a:decoration-orange-400/25 hover:prose-a:decoration-orange-400 prose-a:decoration-wavy prose-a:underline-offset-4"
		>
			<Content />
		</article>
	</div>
</MainLayout>
