---
import { marked } from "marked";
import { drizzle } from "drizzle-orm/d1";
import { eq } from "drizzle-orm";
import { contents } from "../schema";

const { env } = Astro.locals.runtime;

const slug = Astro.params.slug;

const path = await drizzle(env.DB)
	.select()
	.from(contents)
	.where(eq(contents.slug, slug ?? ""))
	.limit(1);

// console.log("path", encodeURI(path[0].path));
// const res = await getContent(env.GITHUB_PAT, encodeURI(path[0].path));
// if (!res) return { status: 404 };

if (path.length !== 1) return new Response(null, { status: 404 });

// const raw = await fetch(res.download_url);
// if (!raw.ok) return { status: raw.status };

const content = marked.parse(path[0].body);
---

<div class="container mx-auto py-12">
	<article class="prose mx-auto" set:html={content} />
</div>
