---
import MainLayout from "../layouts/main-layout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
	const blogs = await getCollection("drafts", (entry) =>
		import.meta.env.PROD ? entry.data.published : true
	);
	return blogs.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

const { entry } = Astro.props;

const { Content } = await entry.render();
---

<MainLayout
	title={`${entry?.data.title} | Drafts`}
	description={entry?.data.description}
>
	<div class="container mx-auto px-4 md:px-0 py-12">
		<div class="flex flex-row justify-center items-center gap-4">
			{
				entry.data.tags?.map((item) => (
					<span class="h-6 text-neutral-700 dark:text-neutral-200 rounded-full inline-flex items-center text-sm px-3 bg-orange-50 dark:bg-neutral-700 border-orange-100 dark:border-neutral-500 border border-solid">
						#{item}
					</span>
				))
			}
		</div>
		<h1
			class="text-4xl lg:text-5xl text-center font-heading font-bold text-balance"
		>
			{entry?.data.title}
		</h1>
		<p class="text-center dark:text-neutral-300 text-neutral-600 mb-16 mt-4">
			{
				new Date(entry?.data.publishedAt ?? "").toLocaleDateString("en-GB", {
					month: "long",
					year: "numeric",
				})
			}
		</p>
		<article
			class="prose mx-auto prose-neutral dark:prose-invert lg:prose-lg prose-img:mb-2 prose-img:mt-4 prose-img:rounded-lg prose-h1:text-4xl prose-h2:text-3xl prose-h2:mb-6 prose-h3:text-2xl prose-p:text-pretty prose-a:text-wrap prose-a:break-words prose-ul:my-4 prose-a:text-orange-500 prose-a:decoration-orange-400/25 hover:prose-a:decoration-orange-400 prose-a:decoration-wavy prose-a:underline-offset-4"
		>
			<Content />
		</article>
	</div>

	<script>
		document.addEventListener("DOMContentLoaded", function () {
			const article = document.querySelector("article");
			const links =
				article?.querySelectorAll<HTMLAnchorElement>('a[href^="http"]'); // Select links that start with 'http'
			links?.forEach((link) => {
				if (!link.href.includes(window.location.host)) {
					link.classList.add("after:content-[url(/external.svg)]");
					link.classList.add("dark:after:content-[url(/external-white.svg)]");
					link.classList.add("after:align-middle");
					link.classList.add("after:font-sm");
					link.classList.add("after:ml-1");
				}
			});
		});
	</script>
</MainLayout>
