---
import MainLayout from "../layouts/main-layout.astro";
import { getCollection } from "astro:content";

const publicBlogs = await getCollection("drafts", (entry) =>
	import.meta.env.PROD ? entry.data.published && entry.data.visibility === "public" : true
);

const sortedBlogs = publicBlogs.sort(
	(a, b) => b.data.publishedAt.getTime() - a.data.publishedAt.getTime()
);
---

<MainLayout>
	<div class="container mx-auto px-4 md:px-0 py-9 max-w-[65ch] w-full">
		<h1 class="text-3xl lg:text-4xl font-bold text-center font-heading">
			Drafts
		</h1>
		<p class="text-center text-neutral-800 font-medium">By Khoirul Asfian</p>
		<div class="grid grid-cols-1 gap-4 mt-8">
			{
				sortedBlogs.map((entry) => (
					<a
						href={`/${entry.slug}`}
						class="flex flex-row justify-between border-b-2 border-solid border-transparent hover:border-orange-400"
					>
						<span class="lg:text-lg font-medium">{entry.data.title}</span>
						<span class="text-neutral-500 dark:text-neutral-400">
							{new Date(entry.data.publishedAt).toLocaleDateString("en-GB", {
								month: "long",
								year: "numeric",
							})}
						</span>
					</a>
				))
			}
		</div>
	</div>
</MainLayout>
