/* playfair */
@font-face {
	font-family: "Playfair Display";
	font-weight: 700;
	font-style: normal;
	font-display: fallback;
	src: url("./fonts/PlayfairDisplay-Bold.woff2") format("woff2");
}

/* Geist */
@font-face {
	font-family: "Geist";
	font-weight: 400 700;
	font-style: normal;
	font-display: swap;
	src: url("./fonts/GeistVariableVF.woff2") format("woff2");
}

@font-face {
	font-family: "Geist";
	font-weight: 400;
	font-style: italic;
	font-display: swap;
	src: url("./fonts/Atkinson-Hyperlegible-Italic.woff2") format("woff2");
}

@font-face {
	font-family: "Geist Mono";
	font-weight: 400 700;
	font-style: normal;
	font-display: swap;
	src: url("./fonts/GeistMonoVariableVF.woff2") format("woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	@apply caret-orange-500 decoration-orange-500 accent-orange-500;
}
