---
import "../assets/styles.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Drafts | Khoirul Asfian</title>
	</head>
	<body
		class="text-neutral-900 bg-neutral-50 font-sans antialiased dark:bg-neutral-800 dark:text-neutral-50"
	>
		<slot />
	</body>
</html>
